@import "../../scss/mixin";

.home__container {
    row-gap: 7rem;
    
    & .home__content {
        grid-template-columns: 116px repeat(2, 1fr);
        padding-top: 5.5rem;
        column-gap: 2rem;
        align-items: center;
    
        & .home__social {
            display: grid;
            grid-template-columns: max-content;
            row-gap: 1rem;
    
            & .home__social-icon {
                font-size: 1.25rem;
                color: var(--title-color);
            
                &:hover {
                    color: var(--title-color-dark);
                }
            }
        }
    
        & .home__img {
            background: url(../../assets/images/myself.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
            order: 1;
            justify-self: center;
            width: 300px;
            height: 300px;
            animation: profile__animate 8s ease-in-out infinite 1s;

            @include desktop {
                width: 250px;
                height: 250px;
                box-shadow: inset 0 0 0 8px rgb(255 255 255/30%);
            }

            @include table  {
                order: initial;
                justify-self: initial;
                width: 200px;
                height: 200px;
                box-shadow: inset 0 0 0 6px rgb(255 255 255/30%);
            }

            @include mobile {
                width: 180px;
                height: 180px;
            }
        }
    
        & .home__data {
    
            & .home__title {
                font-size: var(--big-font-size);
                margin-bottom: var(--mb-0-25);
    
                & .home__hand {
                    width: 38px;
                    height: 38px;
                    margin-left: 0.4rem;

                    @include desktop {
                        width: 26px;
                        height: 26px;
                    }

                    @include mobile {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
    
            & .home__subtitle {
                position: relative;
                font-size: var(--h3-font-size);
                padding-left: 5.4rem;
                font-weight: var(--font-normal);
                margin-bottom: var(--mb-1);
    
                &::before {
                    content: '';
                    position: absolute;
                    width: 70px;
                    height: 1px;
                    background-color: var(--text-color);
                    left: 0;
                    top: 1rem;

                    @include desktop {
                        width: 42px;
                        top: 0.8rem;
                    }
                }

                @include desktop {
                    padding-left: 3.75rem;
                    margin-bottom: var(--mb-1);
                }
            }
    
            & .home__description {
                max-width: 400px;
                margin-bottom: var(--mb-3);

                @include desktop {
                    max-width: initial;
                    margin-bottom: var(--mb-2-5);
                }
            }

            @include table {
                grid-column: 1/3;
            }
        }
        
        @include desktop {
            grid-template-columns: 100px repeat(2, 1fr);
            column-gap: 1.25rem;
        }

        @include table {
            grid-template-columns: 0.5fr 3fr;
            padding-top: 3.5rem;
        }

    }

    & .home__scroll {
        margin-left: 9.25rem;

        & .wheel {
            animation: scroll 2s ease infinite;
        }

        & .home_scroll-button--flex {
            display: flex;
            align-items: center;

            & .home__scroll-name {
                color: var(--title-color);
                font-weight: var(--font-medium);
                margin-right: var(--mb-0-25);
                margin-left: 2px;
            }

            & .home__scroll-arrow {
                font-size: 1.25rem;
                color: var(--title-color);
            }
        }

        @include desktop {
            margin-left: 7.5rem;
        }

        @include table {
            display: none;
        }
    }
}



@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}