@import "../../scss/mixin";

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);

    & .nav {
        height: calc(var(--header-height) + 1.5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    
        & .nav__logo,
            .nav__toggle {
                color: var(--title-color);
                font-weight: var(--font-medium);
            }

        & .nav__menu {

            & .nav__list {
                display: flex;
                column-gap: 2rem;

                & .nav__item {

                    & .nav__link {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: var(--small-font-size);
                        color: var(--title-color);
                        font-weight: var(--font-medium);
                        transition: .3s;

                        & .nav__icon {
                            display: none;
                        
                            @include table {
                                display: block;
                                font-size: 1.2rem;
                            }
                        }
                    }

                    & .active-link,
                        .nav__link:hover {
                            color: var(--title-color-dark);
                    }
                }

                @include table {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 2rem;
                }

                @include mobile {
                    column-gap: 0;
                }
            }

            & .nav__close {
                display: none;

                @include table {
                    display: block;
                    position: absolute;
                    right: 1.3rem;
                    bottom: .5rem;
                    font-size: 1.5rem;
                    cursor: pointer;
                    color: var(--title-color);

                    &:hover {
                        color: var(--title-color-dark);
                    }
                }
            }

            @include table {
                position: fixed;
                bottom: -100%;
                left: 0;
                width: 100%;
                background-color: var(--body-color);
                padding: 2rem 1.5rem 4rem;
                box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
                border-radius: 1.5rem 1.5rem 0 0;
                transition: .3s;
            }

            @include mobile {
                padding: 2rem 0.25rem 4rem;
            }
        }

        & .show-menu {

            @include table {
                bottom: 0;
            }
        }

        & .nav__toggle {
            display: none;
            
            @include table {
                display: block;
                font-size: 1.1rem;
                cursor: pointer;
            }

        }

        @include table {
            height: var(--header-height);
        }
    }

    @include table {
        top: initial;
        bottom: 0;
    }
}



