$mobile-width: 350px;
$up-mobile-width: 576px; 
$tablet-width: 768px; 
$desktop-width: 992px;  

@mixin mobile { @media (max-width: #{$mobile-width}) {     
  @content;   
 } 
}  

@mixin upMobile { @media (max-width: #{$up-mobile-width}) {     
    @content;   
   } 
  } 

@mixin table { @media (max-width: #{$tablet-width}) {       
    @content;   
  } 
 }  
 
 @mixin desktop {   @media (max-width: #{$desktop-width}) {     
   @content;  
  } 
 }